#aboutDialog {
  width: 620px;
}

#aboutDialog #clientBox {
    background: url('about_2.png') repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutDialog #leftBox {
  background-image: none;
  /* min-width and min-height create room for the logo */
  min-width: 230px;
  min-height: 262px;
  margin-top: 0px;
  margin-left: 0px;
}

#aboutDialog #rightBox {
  margin-left: 60px;
}

#aboutDialog #adiaryTanPreloadImage1 {
  background-image: url("about2_2.png");
}

#aboutDialog #adiaryTanPreloadImage2 {
  background-image: url("balloon.png");
}

#aboutDialog #adiaryTanPreloadImage3 {
  background-image: url("about3_2.png");
}

#aboutDialog #adiaryTanPreloadImage4 {
  background-image: url("about4_2.png");
}

#aboutDialog #adiaryTanHotspot {
  width: 108px;
  height: 262px;
}

#aboutDialog #adiaryTanBalloon {
  background-image: url("balloon.png");
  background-repeat: no-repeat;
  width: 170px;
  height: 151px;
  margin: -237px 0px 0px 0px;
}

#aboutDialog #adiaryTanBalloonMargin {
  width: 22px;
}

#aboutDialog #adiaryTanBalloonCentering {
  width: 144px;
  height: 146px;
}

#aboutDialog #adiaryTanWebsite {
  background-image: url("banner.png");
  width: 104px;
  height: 24px;
  margin: 220px 12px 0px 56px;
}

/* Class for image with a 'link' appearance                                */
/* Refer from resource://gre/res/html.css, chrome://global/skin/global.css */

.img-link {
  border: 2px solid;
  color: blue;
}

.img-link:focus {
  color: red;
  outline: red dotted 1px;
}

.img-link:hover {
  cursor: pointer;
}

.img-link:hover:active {
  color: red;
}

.img-link[visited="true"] {
  color: purple;
}
